.main,
.inner-container {
  min-height: calc(100vh - 60px);
}

.inner-container {
  padding: 2rem 0;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  color: #fff;
}

.text-primary {
  color: #f8526e !important;
}

.text-outline-primary {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #f8526e !important;
  color: #00000000 !important;
  font-weight: bold;
}

.btn-primary {
  background-color: #f8526e !important;
  border-color: #f8526e !important;
  font-weight: bold;
  color: #24202d;
  text-transform: uppercase;
}

.card.scaled {
  transform: scale(1.1);
}

.card {
  background-color: #23202c;
  color: white;
  border-radius: 20px;
  border: 2px solid #f8526e;
  padding: 20px;
}

.card-header-half {
  background-color: #f8526e;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -60px;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: bold;
}

.card.card-pink,
.card.card-yellow,
.card.card-blue {
  border-color: #898297;
}

.card.card-yellow .btn {
  background-color: #c2a26a !important;
  border-color: #c2a26a !important;
}

.card.card-yellow {
  background: linear-gradient(319deg, #00000000, #c2a26a);
}

.card.card-pink .btn {
  background-color: #f678dc !important;
  border-color: #f678dc !important;
}

.card.card-pink {
  background: linear-gradient(319deg, #00000000, #f678dc);
}

.card.card-blue .btn {
  background-color: #019ba7 !important;
  border-color: #019ba7 !important;
}

.card.card-blue {
  background: linear-gradient(319deg, #00000000, #019ba7);
}

.card-body {
  padding: 0;
  background-color: #1f1c26;
  border-radius: 10px;
  padding: 10px;
}



.title {
  font-size: 50px;
}

.table {
  border-collapse: separate;
  border-spacing: 0 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.table th {
  color: #919191;
  border: 0;
}

.table td .table-index {
  border-radius: 50%;
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8526e;
}

.table th,
.table td {
  font-weight: bold;
  padding: 1rem;
  vertical-align: middle;
  background-color: #262230;
}

.table tr td:first-child {
  border-radius: 20px 0 0 20px;
  border-left: 2px solid #f8526e;
}

.table tr td:last-child {
  border-radius: 0 20px 20px 0;
  border-right: 2px solid #f8526e;
}

.table td {
  color: #fff;
  border-top: 2px solid #f8526e;
  border-bottom: 2px solid #f8526e;
}

.skewed-container {
  border-top: 1px solid #f8526e;
  border-bottom: 1px solid #f8526e;
  transform: skewY(5deg);
  margin: 4rem 0;
  padding: 10rem 0;
  background-color: #00000066;
}

.skewed-container>div {
  transform: skewY(-5deg);
}

.coin {
  border: 3px dotted;
  outline: 2px solid;
  outline-offset: 5px;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.bgc1 {
  /* background: url('../public/images/bg25.png'); */

}

.tp {
  position: absolute;
  top: 35%;
  left: 30%;
}

.shad {
  font-size: 100px;
  font-weight: 900;
  color: #262230;
  text-shadow:
    -1px -1px 0 gray,
    1px -1px 0 gray,
    -1px 1px 0 gray,
    1px 1px 0 gray
}

.fs1 {
  font-size: 70px;
}